.table-header {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

}

tbody, td, tfoot, th, thead, tr {
    // border-color: inherit;
    // border-style: solid;
    // border-width: 0;
    padding: 10px;
}

.card{
    width: 90%;
}